body{
    background-color: rgb(75 , 74 , 74);
    color: white;
    font-family: 'Satisfy', cursive;
    font-family: 'Young Serif', serif;
}

.jumbo-color{
    background-color: rgb(226, 26, 26);
}
